footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1px;
  }

  .carousel {
    margin-bottom: 25x; /* Adjust the value as needed */
  }

